ion-card {
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
}

ion-icon {
    color: black;
}

ion-button {
    --background: black;
    --background-hover: black;
    --background-activated: white;
  
    --color: white;
    --color-activated: black ;
  
    --border-radius: 12px;


    font-family: 'Poppins', sans-serif;

    font-size: 13px;
    font-weight: 300;
  }

p.heading {
    font-size: 18px;
    color: black;
    font-weight:600;
}

p.subheading {
    font-size: 13px;
    font-weight:500;
}

p.text {
    font-size: 11px;
}


ion-avatar {
    width: 75px;
    height: 75px;
}